.black {
	display: inline-block; 
	background-color: black;
	}

.white {
	background-color: #FFF;
}
button {
	margin: 20px auto 10px;
	display: block;
}
#container {
	display: inline-block; 
	background-color: #FFF;
	text-align: center;
	height: 100%; 
	width: 100%;
	}
		
